#universe1 {
    font-family: $fontFamily--universe1;
    transition: $transitionGeneric;
}
#universe2 {
    font-family: $fontFamily--universe2;
    transition: $transitionGeneric;
}
#universe3 {
    font-family: $fontFamily--universe3;
    transition: $transitionGeneric;
}
#universe4 {
    font-family: $fontFamily--universe4;
    transition: $transitionGeneric;
}
#universe4 {
    font-family: $fontFamily--universe4;
    transition: $transitionGeneric;
}