*, *::before, *::after {
    box-sizing: border-box;
}

*::before, *::after {
    z-index: -1;
    pointer-events: none;
}

* {
    &::-webkit-scrollbar {
        width: 5px;
        border-radius: $borderRadius-regular;
    }
      
    &::-webkit-scrollbar-track {
        background: $blue;
    }
      
    &::-webkit-scrollbar-thumb {
        background: $purple;
    }
      
    &::-webkit-scrollbar-thumb:hover {
        background: $purple;
    }
}

html, body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: $fontFamily;
    font-size: $fontSize-base;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
    overflow: hidden;
}

button {
    cursor: pointer;
    transition: $transitionGeneric;
    background: transparent;
    border: 0;
}

a {
    color: $white;
    text-decoration: none;
}

ul {
    padding: 0;
    list-style: none;
}