// breakpoints
$too-small-mobile: 322px;
$mid-small-mobile:340px;
$small-mobile: 376px;
$mid-mobile:500px;
$mobile: 576px;
$small-tab: 768px;
$big-tab: 992px;
$small-desktop: 1024px;
$desktop: 1200px;
$large-container: 1400px;
$mid-desktop: 1450px;
$large-desktop: 1700px;

@font-face {
    font-family: SpaceMono;
    src: url('../fonts/SpaceMono-Regular.ttf');
}

@font-face {
    font-family: PixelifySans;
    src: url('../fonts/PixelifySans-VariableFont_wght.ttf');
}

@font-face {
    font-family: MarvelFont;
    src: url('../fonts/Beyonders.ttf');
}

@font-face {
    font-family: AnimeFont;
    src: url('../fonts/mangat.ttf');
}

$fontFamily--universe1: SpaceMono, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontFamily--universe2: PixelifySans, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontFamily--universe3: MarvelFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$fontFamily--universe4: AnimeFont, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Colors - Color Palette used in whole project
$black:             #000000;
$white:             #FFFFFF;
$purple:            #6812BE;
$blue:              #081A5B;
$stroke:            #b4b4b4;
$wheat:             #f5deb3;


// Font Size - Used in Structuring the font sizes
$fontSize-base:         1rem;                       //16px
$fontSize-xsmall:       $fontSize-base * 0.5;       //8px 
$fontSize-small:        $fontSize-base * 0.75;      //12px
$fontSize-medium:       $fontSize-base * 1.5;       //24px
$fontSize-large:        $fontSize-base * 3;         //48px
$fontSize-xlarge:       $fontSize-base * 4;         //64px


// Spacers - Used for Margin and Padding
$spacer:       1rem;             //16px
$spacer1_4:    $spacer * 0.25;   //4px
$spacer1_2:    $spacer * 0.5;    //8px
$spacer12:     $spacer * 0.75;   //12px
$spacer14:     $spacer * 0.875;  //14px
$spacer24:     $spacer * 1.5;    //24px
$spacer2x:     $spacer * 2;      //32px
$spacer3x:     $spacer * 3;      //48px
$spacer4x:     $spacer * 4;      //64px

// Border Radius - Used for corners of elements
$borderRadius-regular:      1rem;                                 //16px
$borderRadius-xxsmall:      $borderRadius-regular * 0.25;         //4px
$borderRadius-xsmall:       $borderRadius-regular * 0.5;          //8px
$borderRadius-small:        $borderRadius-regular * 0.75;         //12px
$borderRadius-medium:       $borderRadius-regular * 2;            //32px
$borderRadius-large:        $borderRadius-regular * 4;            //48px
$borderRadius-pill:         $borderRadius-regular * 6.25;         //100px
$borderRadius-rounded:      50%;


// Transition - Used for Smooth Transition
$transitionGeneric: all 200ms ease-in-out;