@font-face {
    font-family: SpaceMono;
    src: url('../fonts/SpaceMono-Regular.ttf');
}

$fontFamily: SpaceMono, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


// Font Size - Used in Structuring the font sizes
$fontSize-base:         1rem;                       //16px
$fontSize-xsmall:       $fontSize-base * 0.5;       //8px 
$fontSize-small:        $fontSize-base * 0.75;      //12px
$fontSize-medium:       $fontSize-base * 1.5;       //24px
$fontSize-large:        $fontSize-base * 3;         //48px


// Spacers - Used for Margin and Padding
$spacer:       1rem;             //16px
$spacer1_2:    $spacer * 0.25;   //4px
$spacer1_2:    $spacer * 0.5;    //8px
$spacer1_2:    $spacer * 0.75;   //12px
$spacer1_2:    $spacer * 0.875;  //14px
$spacer1_2:    $spacer * 1.5;    //24px
$spacer2x:     $spacer * 2;      //32px
$spacer3x:     $spacer * 3;      //48px
$spacer4x:     $spacer * 4;      //64px

// Border Radius - Used for corners of elements
$borderRadius-regular:      1rem;                                 //16px
$borderRadius-xxsmall:      $borderRadius-regular * 0.25;         //4px
$borderRadius-xsmall:       $borderRadius-regular * 0.5;          //8px
$borderRadius-small:        $borderRadius-regular * 0.75;         //12px
$borderRadius-medium:       $borderRadius-regular * 2;            //32px
$borderRadius-large:        $borderRadius-regular * 4;            //48px
$borderRadius-pill:         $borderRadius-regular * 6.25;         //100px
$borderRadius-rounded:      50%;


