@import "../assets/style/variables";
@import "../assets/style/sudo";
@import "../assets/style/keyframes";
@import "../assets/style/flex";
@import "../assets/style/mixins";

.landing {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: $black;

    .universe {
        height: 100vh;
        width: 100%;
        figure {
            position: relative;
            overflow: hidden;
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
            
            img {
                height: 100%;
                width: 100%;
            }
        }
    }

    .star {
        clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    }
}
