@import "./../../assets/style/variables";
@import "./../../assets/style/sudo";
@import "./../../assets/style/keyframes";
@import "./../../assets/style/flex";

.navbar {
    @include element-position(fixed, 1rem, 1rem, unset, 1rem);
    @include flex(row, center, space-between, 0);
    border-radius: $borderRadius-regular;
    height: 80px;
    z-index: 99;
    padding: 0 $spacer2x;
    transition: $transitionGeneric;

    &.active {
        background-color: transparentize($color: $pink, $amount: 0.25);
        border: 1px solid $white;
    }

    &__navs {
        @include flex(row, center, center, $spacer2x);
        font-weight: 200;
        letter-spacing: 2px;

        li {
            transition: $transitionGeneric;
            &:hover {
                text-shadow:1px 1px 10px #fff, 1px 1px 10px #ccc;
            }
        }
    }

}