
@import "../../assets/style/style.scss";

@mixin grid($xs, $md, $lg) {
  @include mobile() {
    width: percentage(1 / 12 * $xs);
  }
//   @include tab() {
//     width: percentage(1 / 12 * $sm);
//   }
  @include big-tab() {
    width: percentage(1 / 12 * $md);
  }
  @include desktop() {
    width: percentage(1 / 12 * $lg);
  }
}

.footer-container {
    display: flex;
    // flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 1.5rem 1rem;
    // padding: 4rem 0;
}

.column {
    @include grid(4, 2, 1);

    &>*{
        color: #fff;
        text-decoration: none;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        display: block;
    }
}


.bottom-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    // margin-top: 2rem;
    border-top: 1px solid rgb(255, 255, 255,0.5);
    color: $white-color;
}